@import '../../node_modules/bulma/bulma.sass';

.app {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),url('../image/weather.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'nav';

  grid-template-columns: 1fr;
  grid-template-rows:
    auto
    1fr
    1fr;

  @media (min-width: 768px) {
    grid-template-areas:
      'header header header'
      'nav content content';
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    font-family: 'Merriweather', serif;
  }
}
