.app {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'nav'
    'footer';

  grid-template-columns: 1fr;
  grid-template-rows:
    auto
    4fr
    1fr
    auto;

  @media (min-width: 768px) {
    grid-template-areas:
      'header header header'
      'nav content content'
      'footer footer footer';

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    font-family: 'Merriweather', serif;
  }
}
