@import './mixins';

.header {
  grid-area: header;
  @include flex-box(column);
  justify-content: space-evenly;
  padding: 2rem;
  height: 250px;
  
  @include media-breakpoint(sm) {
    flex-direction: row;
    height: 85px;
  }
  
  input {
    cursor: pointer;
  }

}

