@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import './mixins';
.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(150px, 1fr));
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  section {
    cursor: pointer;
    padding: 1rem;
    color: $danger;
    transition: all 0.5s;
    border-radius: inherit;
    box-shadow: 6px 6px 5px -5px rgba(0, 0, 0, 0.25);
    img {
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: $grey-lighter;
      color: lighten($danger, 10%);
      box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.25);
    }

    @include media-breakpoint(sm) {
      transform: scale(1.1);
    }
  }
}
