.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(150px, 1fr));
  cursor: pointer;

  section {
      padding:1rem;

      img {
          margin-bottom:1rem;
      }

      
  }
}
