@import '../../node_modules/bulma/sass/utilities/_all.sass';

.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(150px, 1fr));
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  section {
    cursor: pointer;
    padding: 1rem;
    color: $danger;
    transition: all 0.5s;
    border-radius: inherit;

    img {
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: $grey-lighter;
      color: lighten($danger, 10%);
    }
  }
}

